# Lista 2

Prof. Daniel de Abreu Pereira Uhr

Nesta lista de exercícios, você aplicará conceitos de manipulação e transformação de tipos de dados utilizando `pandas` e `numpy`.

### 1. Conversão de Tipos

##### 1.1 Carregue o seguinte dicionário como um DataFrame do pandas e verifique os tipos das colunas.

```python
import pandas as pd
dados = {'ID': ['1', '2', '3'], 'Valor': ['10.5', '20.8', '30.2'], 'Data': ['2024-01-01', '2024-02-15', '2024-03-10']}
df = pd.DataFrame(dados)
```

##### 1.2 Converta a coluna 'ID' para inteiro, 'Valor' para float e 'Data' para datetime.

### 2. Tratamento de Valores Ausentes

##### 2.1 Crie um DataFrame com valores ausentes e substitua os valores `NaN` pela média da respectiva coluna.

```python	
dados = {'A': [1, 2, None, 4], 'B': [None, 5, 6, 7], 'C': [10, None, None, 40]}
df = pd.DataFrame(dados)
```

### 3. Manipulação de Strings

##### 3.1 Crie um DataFrame contendo nomes completos e extraia apenas os sobrenomes.

```python
df = pd.DataFrame({'Nome': ['Ana Silva', 'Bruno Souza', 'Carlos Pereira']})
```

### 4. Criação de Novas Colunas

##### 4.1 A partir do DataFrame `df` abaixo, crie uma nova coluna chamada 'Desconto', que seja 10% do valor da coluna 'Valor'.

```python
df = pd.DataFrame({'Produto': ['A', 'B', 'C'], 'Valor': [100, 200, 300]})
```

### 5. Uso do Numpy

##### 5.1 Crie um array NumPy de números aleatórios entre 1 e 100 de tamanho (5,5) e substitua os valores menores que 50 por 0.

### 6. Filtragem de Dados

##### 6.1 Usando o seguinte DataFrame, filtre apenas os produtos com valor acima de 150.

```python
df = pd.DataFrame({'Produto': ['A', 'B', 'C', 'D'], 'Valor': [120, 180, 90, 200]})
```